@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-image: url(../imagens/fundo-madeira.jpg);
    height: 100vh;
}

main{
    position: relative;
    height: 100vh;
}

section#celular{
    height: 627px;
    width: 311px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*TELA DO CELULAR*/ 

section > iframe#tela{
    background-image: url(../pags/pag001.html);
    position: relative;
    width: 266px;
    height: 470px;
    top: 79.5px;
    left: 20px;
}

/*BOTÕES DO APP*/

section#click{
    text-align: right; /* alinhamento para direit */ 
}

section#click img{
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    box-shadow: 1px 1px 7px black;
    box-sizing: border-box;
}

section#click img:hover{
    border: 1.3px solid white;
    transform: translate(-5px, -5px);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.74);
}
