@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-image: url(../imagens/fundo-madeira.jpg);
    height: 100vh;
}

main{
    position: relative;
    height: 100vh;
}

section#celular{
    height: 627px;
    width: 311px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*TELA DO CELULAR*/ 

section > iframe#tela{
    background-image: url(../pags/pag001.html);
    position: relative;
    width: 266px;
    height: 470px;
    top: 79.5px;
    left: 20px;
}

/*BOTÕES DO APP*/

section#click a > img{
    border-radius: 50%;
    
}